.cart-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.cart-icon-container img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
  object-fit: contain;
}

.cart-icon-container::before {
  content: attr(data-count);
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  color: #ee7f01;
  z-index: 2;
  padding: 5px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
